* {
    box-sizing: border-box;
}

html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #CCCCCC;
 }

header {
    background-image: url('assets/imatges/titol TP background.png');
    background-size: cover;
    background-position: center;
    padding-bottom: 20px;
    margin: 0;
}

#titol-TP {
    color: white;
    padding: 20px;
    margin: 20px;
    margin-top: 0;
}

.textInformatiu {
    margin: 50px auto;
    font-size: 18px;
    max-width: 1000px;
    text-align: center;
}

.missatgesHome {
    border: 7px solid #7db41a;
    padding: 35px;
    border-radius: 60px;
    background-color: white;
    max-width: 800px;
    margin: 50px auto;
}


.boto {
    margin-left: 20px;
    background-color: #1c1c23;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
}

.botoPolsatHome {
    margin-left: 20px;
    background-color: #1c1c23;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    border: 5px solid #7db41a ;
}

.botoPolsatWeather {
    margin-left: 20px;
    background-color: #1c1c23;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    border: 5px solid #703e4d  ;
}

.botoPolsatAboutUs {
    margin-left: 20px;
    background-color: #1c1c23;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    border: 5px solid #1a849c;
}

.botoPulsatTrips {
    margin-left: 20px;
    background-color: #1c1c23;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    border: 5px solid #d0b520;
}

.contenedorGif {
    text-align: center;
    margin-top: 30px;
}

.gifAvioPaper {
    width: 250px;
    display: block;
    margin: 0 auto;
}