* {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, .card-title {
    text-wrap: balance;
}
p,.card-text{
    text-wrap: pretty;
}

html, body {
    font-family: sans-serif;
    margin: 0;
    padding-bottom: 0;
    background-color: #CCCCCC;
 }
header {
    background-color: #0A2A43;
    padding-bottom:20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}
header .nav-link{
    font-size: 20px;
}
.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10rem;
    padding: 2rem 0;
    max-width: 120rem;
    margin: 0 auto;
}

.mainLogo{
    width: 10vh ;
    max-width: 120px;
    height: auto;
}
.nav-link,.navbar-brand{

    color: #D4AF37 !important;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    gap: 1rem;
}



