
.ContenedorPadre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    gap: 30px;
}

.cardPresentacion {
    width: 95%;
    max-width: 1000px;


}
.contenedorGif {
    text-align: center;
}
.gifAvioPaper {
    width: 200px;
}
.container-carrousel{
    height: auto;
    width: 70%;
}
.carousel-item img {
    height: auto;
    width: 70%;

}
.container-carrousel {
    width: 100%;
}
.card-title {
    text-align: center;
    color: #D4AF37 !important;

}
.card-text {
    text-align: center;
    color: #0A2A43 !important;
}




