.Container-Padre-Trips{
    display: grid;
    grid-template-columns: 20% 1fr 25%;
    gap:0;
    background-color: white;
    height: calc(100vh - 70px);
}
.Container-Columna1,.Container-Columna2,.Container-Columna3 {
    padding: 2%;
    border-radius: 0;

    height: 100%;
}
.Container-Columna1,.Container-Columna3 {
    background-color: #f8f9fa;
    color: white;

}
.Container-Columna2 {
    background-color: white;
    height: 100%;
    color: #0A2A43;
    overflow-y:auto;
    padding: 1%;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.Container-Columna1 h5 ,.Container-Columna2 h5 ,.Container-Columna3 h5  {
    color: #0A2A43;
    font-weight: bold;
    border-bottom: 1.5px solid gold !important;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.tarjeta-viaje{
    background-color: white;
    border-left: 5px solid gold !important;
    border-radius: 8px;
    width: 100%;
    padding: 10px;
}
.Button_CrearViaje{
    text-align: center;
}
#contenedor-viajes {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}
#contenedor-viajes .card {
    width: 100%;
    height: 110px;
    border-radius: 15px;
    border:none;
    border-left: 5px solid #FFC107;
    border-right: 5px solid #FFC107;
    margin-bottom: 15px;
    overflow: hidden;
    background-color: white;
}
#contenedor-viajes .card-body {
    padding: 0.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#contenedor-viajes .card-title {
    color: #0A2A43;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}
#contenedor-viajes .text-muted {
    font-size: 0.8rem;
    color : #6c757d;
}
#contenedor-viajes .img-miniatura{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.Container-Padre-Trips{
    display: grid;
    grid-template-columns: 20% 1fr 25%;
    gap:0;

    background-color: white;
    height: calc(100vh - 70px);
}
.Container-Columna1,.Container-Columna2,.Container-Columna3 {
    padding: 2%;
    border-radius: 0;

    height: 100%;
}
.Container-Columna1,.Container-Columna3 {
    background-color: #f8f9fa;
    color: white;

}

.Container-Columna1 h5 ,.Container-Columna2 h5 ,.Container-Columna3 h5  {
    color: #0A2A43;
    font-weight: bold;
    border-bottom: 1.5px solid gold !important;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.tarjeta-viaje{
    background-color: white;
    border-left: 5px solid gold !important;
    border-radius: 8px;
    width: 100%;
    padding: 10px;
}
.Button_CrearViaje{
    text-align: center;
}
#contenedor-viajes {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}
#contenedor-viajes .card {
    border:none;
    min-height: 120px;
    border-left: 5px solid #FFC107;
    border-right: 5px solid #FFC107;
    background-color:white;
}
.mensaje-bienvenida{
    color: Gold; !important;
    font-weight: bold;
}
#contenedor-detalles{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%
}
.img-portada{
    width: 100%;
    height:250px;
    object-fit: cover;
    border-radius: 10px;
}
.titulo-detalles{
    font-size:2.5rem;
    color : gold !important;
    font-weight: bold;
}
.detalle-pais{
    color:gray !important;
    font-weight: bold;
}
.fechas-contenedor{
    background-color: #0648ae;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
}
.descripcion-futura{
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #fffcf5;
    color:#aaa
}









