#buscadorWeather {
    display: block;
    margin: 50px auto;
    padding: 10px;
    border: 5px solid #703e4d;
    border-radius: 10px;
    width: 600px;
    background-color: white;
}
.posicionamentBuscador {
    display: flex;
    align-items: center;
}
.buscador input[type="text"] {
    flex-grow: 1;
    width: 100%;
    border: none;
    outline: none;
}
.botoCerca {
    background-color: #703e4d;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
}
.resultat-temps-box {
    border: 5px solid #703e4d; /* Vora amb el teu color preferit */
    padding: 30px;
    border-radius: 20px;
    background-color: white;
    max-width: 500px; /* Limita l'ample del requadre de resultats */
    margin: 0 auto; /* Centrar dins de l'article */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dades-principals {
    display: flex;
    justify-content: center; /* Centrar horitzontalment */
    align-items: center; /* Centrar verticalment */
    gap: 20px;
    margin-bottom: 15px;
}
.temperatura-actual {
    font-size: 3em;
    font-weight: bold;
    color: #703e4d; /* Temperatura destacada amb el teu color */
    margin: 0;
}


